body {
    font-size: 16px;
}

html {
    background-color: hsl(30, 54%, 90%);
}

h3 {
    color: hsl(332, 51%, 32%);
}
main {
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    margin: 0 auto;
    border: 3px white;
    border-radius: 6px;
}

.omelette {
    width: 450px;
    display: flex;
    margin: auto;
}

.Simple-Omelette-Recipe {
    margin: 1.7rem;
}

.Preparation-time {
    background-color: hsl(330, 100%, 98%);
}

.Preparation-time h3 {
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 16px;
}
.prep-list-container {
    padding: 5px 2px 2px 8px;
    margin: 9px;
    box-sizing: border-box;
}

.list {
    font-family: sans-serif;
    font-size: 12px;
    display: grid;
    row-gap: 11px;
}
